<main class="main">

    <div class="pages-btn" (click)="handlePageChange()">
        @if (currentPage === 'payments-page') {
            Payments Page
        } @else {
            Grid Page
        }

    </div>

    @if (currentPage === 'generator-page') {
        <app-header (onGenerateBtnClick)="startGenerating()" [(inputedChar)]="inputedChar"></app-header>
    
        <app-grid [grid]="grid"></app-grid>
    }

    <app-footer [grid]="grid" [generating]="generating" [(code)]="code"></app-footer>

    @if (currentPage === 'payments-page') {
        <app-payments [code]="code" [grid]="grid"></app-payments>
    }
</main>

<router-outlet />