<main class="main">
    <div class="header">
        <div class="char-input">
            <label for="char">
                Character:
            </label>
            <input id="char" maxlength="1" placeholder="Character" />
        </div>

        <div class="clock">
            🕛
        </div>

        <div class="generate-button">
            <button>Generate 2D Grid</button>
        </div>

    </div>

    <div class="grid">
        @for (line of grid; track $index) {
        <div class="line">
            @for (cell of line; track $index) {
            <div class="cell">
                {{ cell }}
            </div>
            }
        </div>
        }
    </div>

    <div class="footer">

    </div>
</main>

<router-outlet />