$grid-border: solid 1px #000;

.main {
    margin: 2vh 5vw;   
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;

    .char-input {
        display: flex;
        flex-direction: column;

        label {
            text-transform: uppercase;
        }

        input {
            width: auto;
        }
    }

    .generate-button {
        button {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 600;
            padding: 0.5em 2rem;

            color: #fff;
            background-color: #8A9DA4;
            border: 0;
            border-radius: 5px;
        }
    }
}

.grid {
    max-height: 60vh;
    height: 100%;
    margin: 2vh auto;
    border-top: $grid-border;
    border-left: $grid-border;

    .line {
        display: flex;
        flex-direction: row;
        height: calc(60vh/10);

        .cell {
            border-right: $grid-border;
            border-bottom: $grid-border;
            height: 100%;
            width: 100%;

        }
    }
}